@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/*-------Shared Style--------*/
.section-title {
    font-size: 2.80rem;
    color: #131313;
    margin-bottom: 24px;
}

.text-description {
    color: #727272;
    font-size: 1rem;
}

.primary-btn {
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    margin-top: 30px;
}

.primary-btn a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

/*--------main section design--------*/
main {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

/*--------Header Section Style Start--------*/
header {
    padding: 50px 240px;
    background: rgba(255, 144, 14, 0.10);
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 30px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}

/*--------Banner Section Style Start--------*/

.banner .banner-content {
    max-width: 860px;
    margin-block: 100px 70px;
    margin-inline: auto;
    text-align: center;
}

.banner>img,
.features-sec-two-container>.features-two-img {
    width: 100%;
}

/* .features-sec-two-container> .features-two-img{
    width: 100%;
} */

.banner .banner-content .banner-title {
    font-size: 4rem;
}

/*--------Feature Section Design Start---------*/
.features-sec-container {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-block: 130px;
}

.features-sec-container .features-gallery-container img {
    width: 100%;
}


.features-gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.features-sec-container .features-content .features-title {
    font-size: 2.80rem;
    font-weight: 500;

}

.features-sec-container .features-content .features-title {
    margin-bottom: 24px;
}

.quick-text {
    color: #727272;
    font-weight: 500;
}

.quick-feature {
    color: #FF900E;
    font-weight: 700;
}

/*--------Feature Section two Design Start---------*/
.features-sec-title-two {
    border-left: 5px solid #FF900E;
    padding-left: 24px;
}

.features-sec-two-container {
    display: flex;
    gap: 145px;
    align-items: end;
}

.features-sec-two-container .features-two-card .card .card-title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.features-sec-two-container .features-two-card .card {
    padding: 30px 42px 30px 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.features-sec-two-container .features-two-card {
    margin-top: 30px;
}


/*=====================================================================*/
/*--------Here is Mobile responsive design--------*/
@media screen and (max-width:576px) {

    header,
    .features-sec-container {
        padding: 20px;
    }

    nav,
    .features-sec-container,
    .features-sec-two-container {
        flex-direction: column;
    }

    .features-sec-container,
    .features-sec-two-container {
        gap: 40px;
    }

    .features-gallery-container {
        grid-template-columns: 1fr;
    }

    .banner .banner-content {
        margin-block: 20px;
    }

}

/*--------Here is medium device responsive design---------*/

@media screen and (min-width:576px) and (max-Width:992px) {
    header {
        padding: 20px;
    }

    .features-sec-two-container {
        flex-direction: column;
    }

    .features-sec-two-container {
        gap: 20px;
    }
}