@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/*-------Shared Style--------*/
.section-title {
    font-size: 2.80rem;
    color: #131313;
    margin-bottom: 24px;
}

.text-description {
    color: #727272;
    font-size: 1rem;
}

.primary-btn {
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    margin-top: 30px;
}

.primary-btn a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

/*--------main section design--------*/
main {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

/*--------Header Section Style Start--------*/
header {
    padding: 50px 240px;
    background: rgba(255, 144, 14, 0.10);
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 30px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}

/*--------Banner Section Style Start--------*/

.banner .banner-content {
    max-width: 860px;
    margin-block: 100px 70px;
    margin-inline: auto;
    text-align: center;
}

.banner>img {
    width: 100%;
}

/* .features-sec-two-container> .features-two-img{
    width: 100%;
} */

.banner .banner-content .banner-title {
    font-size: 4rem;
}

/*--------Feature Section Design Start---------*/
.features-sec-container {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-block: 130px;
}

.features-sec-container .features-gallery-container img {
    width: 100%;
}


.features-gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.features-sec-container .features-content .features-title {
    font-size: 2.80rem;
    font-weight: 500;

}

.features-sec-container .features-content .features-title {
    margin-bottom: 24px;
}

.quick-text {
    color: #727272;
    font-weight: 500;
}

.quick-feature {
    color: #FF900E;
    font-weight: 700;
}

/* --------Features Card & img Design Start--------- */
.features-card-img {
    display: flex;
    gap: 100px;
    align-items: center;
}

.features-card-img .features-content .features-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-card-img .features-content .features-card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin: 20px 0;
}

.features-card-img .features-content .features-card .card-title {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.features-img .ten-badge {
    padding: 40px 42px;
    background-color: #FF900E;
    max-width: 340px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    bottom: 100px;
    right: 70px;
    color: #FFF;
}

.features-img .ten-badge h2 {
    font-size: 4rem;
    font-weight: 700;
}

.features-img .ten-badge h2 p {
    font-size: 1.6rem;
    font-weight: 500;
}

.features-img>img {
    width: 710px;
    height: 990px;
    margin: 0 auto;
}



.experience-section .experience-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.experience-section .experience-container {
    margin-block: 100px 0px;
}

.experience-section {
    margin-block: 120px 180px;
}

.experience-section .experience-container .experience-item {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 40px 35px 65px 35px;
    text-align: center;
    width: 241px;
}

.experience-section .experience-container .experience-item img {
    margin-bottom: 10px;
}

/*  */

.sponsors-section {
    text-align: center;
}

.sponsors-section .sponsors-container {
    display: flex;
    justify-content: space-between;
    margin-block: 110px 130px;
    align-items: center;
}

footer {
    /* max-width: 1440px; */
    /* margin: 0 auto; */
    border-radius: 8px;
    background-color: #FFF4E7;
    padding: 40px git 0px;
    text-align: center;
}

footer>small {
    color: #424242;
    font-size: 1.50;
    font-weight: 400;
}


/* ------------------------------------------------------------- */


/*--------Here is Mobile responsive design--------*/
@media screen and (max-width:576px) {

    header,
    .features-sec-container {
        padding: 20px;
    }

    nav,
    .features-sec-container,
    .features-card-img,
    .sponsors-section .sponsors-container,
    .experience-section .experience-container {
        flex-direction: column;
    }


    .features-gallery-container {
        grid-template-columns: 1fr;
    }

    .features-sec-container,
    .sponsors-section .sponsors-container,
    .experience-section .experience-container {
        gap: 40px;
    }

    .banner .banner-content {
        margin-block: 20px;
    }

    .features-img .ten-badge {
        position: static;
    }

    .sponsors-section .sponsors-container img {
        width: 40%;
    }

    .features-img>img {
        height: 100%;
        width: 100%;
    }
}

/*--------Here is medium device responsive design---------*/

@media screen and (min-width:576px) and (max-Width:992px) {
    header {
        padding: 20px;
    }

    .features-card-img,
    .sponsors-section .sponsors-container,
    .experience-section .experience-container {
        flex-direction: column;
    }

    .sponsors-section .sponsors-container,
    .experience-section .experience-container {
        gap: 40px;
    }

    .features-img .ten-badge {
        position: static;
    }

    .features-img>img {
        height: 100%;
        width: 90%;
    }
}